<section class="login flex justify-center pt-24">
    <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <%if(messages.error){%>
        <span class="text-red-500 text-sm mb-3"><%=messages.error%></span>
        <%}%>
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Email
            </label>
            <input name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                id="username" type="text" placeholder="Enter your Email">
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input name="password" class="shadow appearance-none  rounded w-full py-2 px-3 text-grey-darker mb-3"
                id="password" type="password" placeholder="******************">
            <p class="text-red text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
            <button class=" btn-primary font-bold py-2 px-4 rounded-full text-white" type="submit">
                Log In
            </button>
            <a class="inline-block align-baseline font-bold text-sm   ml-12" href="/register">
                Don't have account?
            </a>
        </div>
    </form>
</section>